# Игнорируем общие временные файлы
.DS_Store
**/.DS_Store
__pycache__/
*.pyc

# Игнорируем исполняемые файлы (без расширений)
*

# Но не игнорируем папки
!*/

# И не игнорируем исходные файлы
!*.*
!Makefile
!.gitignore

# Игнорируем бинарные файлы
*.o
*.out
*.exe